<div class="container py-4">
  <div class="row">
    <div class="col-xs-12 col-sm-4 offset-sm-4 p-5 card-shadow">
      <h2 class="pb-3">Edit your Profile</h2>



      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <%= f.input :email, autofocus: true %>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
        <% end %>
        <% if resource.image_url %>
          <%= image_tag resource.image_url, class: "avatar-dynamic avatar mb-3" %>
        <% else %>
        <div class="no-avatar">
            <div class="avatar-missing avatar mb-3">
              <%=  current_user.email[0].upcase  %>
          </div>
        </div>
        <%#= display bland avatar  %>
        <% end %>
        <%= f.label "new avatar pic url" %>
        <%= f.input :image_url, autofocus: true, label: false %>
        <%= f.label "new password" %>
        <%= f.input :password,
        hint: "leave it blank if you don't want to change it",
        input_html: { autocomplete: "new-password" }, label: false %>
        <%= f.input :password_confirmation,
        required: false,
        input_html: { autocomplete: "new-password" } %>
        <%= f.input :current_password,
        hint: "we need your current password to confirm your changes",
        input_html: { autocomplete: "current-password" } %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "Update", class: "btn btn-primary rounded-pill w-100 mb-3" %>
      </div>
      <% end %>

      <small>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></small>

    </div>
  </div>
</div>
