

<div class="container pt-4">
  <div class="row">
    <div class="col-6">
       <h3> Original </h3>
       <div class="bg-code radius-top px-3 pt-2">
                <small class= <%= text_class(@translation_request.original_language) %> > <%= @translation_request.original_language.upcase %> </small>
                <i class="fas fa-arrow-right text-light small"></i>
                <small class= <%= text_class(@translation_request.converted_language) %>> <%= @translation_request.converted_language.upcase %> </small>
            </div>
       <pre class="mt-0 translation-post-request">
         <code class= <%= request_highlight(@translation_request) %>>
            <%= @translation_request.content %>
         </code>
       </pre>
    </div>
    <div class="col-6">
      <h3> <%=  pluralize(@translation_request.translations.count, "Translation") %> </h3>
      <% @translation_request.translations.each do |translation| %>
      <div class="card card-shadow mt-4">
        <div class="card-body">
          <div class="card-top d-flex justify-content-between align-items-center pb-2">
            <div class="card-top-right">
            <% if translation.user.image_url %>
            <img class="avatar" src= <%= translation.user.image_url %>
              alt=""> <small class="text-secondary"> <%= translation.user.email %> </small>
            <% else %>
            <div class="d-flex align-items-center">
              <div class="avatar avatar-missing mr-2"> <%= translation.user.email[0].upcase %> 
              </div>
              <small class="text-secondary"> <%= translation.user.email %> </small>
            </div>

            <% end %>
              
            </div>
            <div class="card-top-date">
               <small class="text-secondary"> <%= translation.created_at.strftime('%b %d, %Y') %> </small>
            </div>
          </div>
            <pre>
            <code id=<%= "translation#{translation.id}" %> class= <%= translation_highlight(translation) %> >
              <%= translation.content %>
            </code>
          </pre>
          <div class="card-bottom d-flex justify-content-between align-items-center">
            <div class="reaction d-flex align-items-center">
              <i class="far fa-thumbs-up like-logo mr-2"
                       data-translation-id=<%= translation.id %>></i>
               <p class="small text-secondary"> <%= translation.likes %> likes</p>
            </div>
              <i class="far fa-copy copy-logo"
                 data-clipboard-target= <%= "#translation#{translation.id}"  %>>
                 </i>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
