
<div class="profile-info d-flex justify-content-around align-items-center py-4">
  <div class="profile-edit">
    <% if current_user.image_url %>
      <img class="avatar-large pb-2" src= <%= current_user.image_url %> alt="">
    <% else %>
      <div class="avatar-missing avatar dropdown-toggle" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
            <%=  current_user.email[0].upcase  %>
        </div>
    <% end %>
    <p class="text-secondary pb-2"> Joined at <%= current_user.created_at.strftime('%b %d, %Y') %> </p>

    <%= link_to "Edit your profile",
                  edit_user_registration_path ,
                  class: "btn btn-primary btn-sm rounded-pill" %>
  </div>
  <div class="profile-kudos">
    <i class="fas fa-award kudos-points"></i>
    <p class="text-secondary"> <%= pluralize(current_user.kudos_points, "kudos point")%>  </p>
  </div>
  <div class="profile-translation-info">
    <p> <i class="fas fa-marker icon-profile"></i> <%= pluralize(current_user.translation_requests.count, "translation request") + " submitted" %>  </p>
    <p> <i class="far fa-paper-plane icon-profile"></i> <%= pluralize(current_user.translations.count, "translation") + " submitted" %> </p>
  </div>
</div>
