<!DOCTYPE html>
<html>
<head>
  <title>Code Language Converter</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <link rel="shortcut icon" href="code_converter_logo.ico"/>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag 'prism', media: 'all' %>


  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: false %>
</head>

<body>
  <%= render 'shared/navbar' %>
  <%= render 'shared/flashes' %>

  <%= yield %>
  <%= render 'shared/footer' %>
<script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.6/clipboard.min.js"></script>
</body>
</html>
