

<%= render partial: 'shared/profile-info', locals: { current_user: current_user}  %>

<div class="container py-5">

  <div class="row">
    <div class="col-8 offset-2">
      <h2>Browse Your Translation Requests </h2>
      <hr>
      <% @translation_requests.each  do |request|%>

      <div class="card card-shadow">
        <div class="card-body">
            <pre>
              <code class=<%= request_highlight(request) %> > <%= request.content %>
              </code>
            </pre>
            <hr>

            <div class="card-infos">
              <div class="card-infos-top d-flex justify-content-between pb-3">
                <p class="text-secondary"> <%= request.created_at.strftime('%b %d, %Y') %> </p>
                <p>
                <span class= <%= text_class(request.original_language)%> >  <%= request.original_language.upcase %> </span> 
                <i class="fas fa-arrow-right"></i>
                <span class= <%= text_class(request.converted_language) %> > <%= request.converted_language.upcase %> </span> 
                </p>

              </div>
              <div class="card-infos-bottom d-flex justify-content-between">
                <% if request.translations.count.zero? %>
                  <p class="text-secondary align-self-center"> No translations yet</p>
                <% else %>
                <%= link_to pluralize(request.translations.size, "translation"), translation_request_path(request),   class: "text-secondary align-self-center"  %>
                  <% end %>

              </div>
            </div>
          </div>
        </div>

        <% end %>
      </div>
    </div>
  </div>

